{{!
    @template format_alpy/local/content/section/cmitem

    Displays a course module item in a section.
    
    We override the cmname block to use our custom renderer which includes the icon replacement logic.
}}
{{< core_courseformat/local/content/section/cmitem }}
    {{$ core_courseformat/local/content/cm/cmname }}
        {{> format_alpy/local/content/cm/cmname }}
    {{/ core_courseformat/local/content/cm/cmname }}
{{/ core_courseformat/local/content/section/cmitem }}
