{{< core_courseformat/local/content/section/cmitem }}

    {{$ core_courseformat/local/content/cm/icon }}
        {{#activityicon}}
            <img src="{{icon}}" alt="ícono personalizado" class="activityicon" style="width:24px;height:24px;">
        {{/activityicon}}
    {{/ core_courseformat/local/content/cm/icon }}

    {{$ core_courseformat/local/content/cm/afterLink }}
        {{#tags}}
            <span class="badge badge-info">{{.}}</span>
        {{/tags}}
    {{/ core_courseformat/local/content/cm/afterLink }}

{{/ core_courseformat/local/content/section/cmitem }}

