<li id="section-{{id}}" class="section main clearfix {{extraclasses}}" role="region" aria-label="{{title}}">

  <div class="content">
    <h3 class="sectionname">{{title}}</h3>
    {{#cms}}
      <ul class="section img-text">
        {{{content}}}
      </ul>
    {{/cms}}
  </div>
</li>




